<div class="row">
	
<%= form_tag({:action => :upload_invoice}, :multipart => true ) do %>
	<div class="large-12 colum panel">
	<%= file_field_tag 'invoice' %>
	<%= submit_tag("Прочитать", class: "button tiny radius" ) %>
	</div>
<% end %>
</div>


<div class="row">
  <div class="large-12 colum panel">
    <table class="table table-hover">
      <thead>
          <tr>
          <th>Номер</th>
          <th>Дата</th>
          <th>Сумма</th>
          <th>ИНН</th>
        </tr>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td>
                <%= invoice.number %>
              </td>
              <td>
                <%= invoice.date %>
              </td>
              <td>
                <%= invoice.sum %>
              </td>
              <td>
                <%= invoice.buyer_inn %>
              </td>
              <td>
                <%=  link_to 'Показать', invoices_edit_path(invoice), method: :get %>
              </td>
              <td>
                <%=  link_to 'Отправить', send_invoice_path(invoice), method: :post %>
              </td>
            </tr>
          <% end %> 
        </tbody>
      </thead>

</table>
  </div>