
<% content_for :sidebar do %>

    <%= form_tag({:action => :upload_stock}, :multipart => true) do %>
    <%= file_field_tag 'invoice' %>
    <%= submit_tag("Прочитать", class: "button tiny radius" ) %>
    <% end %>
<% end %>

    <table class="display responsive no-wrap" cellspacing="0" cellpadding="5" border="1" align="center", id="table_stock">
      <thead>
          <tr>
          <th>Дата</th>          
          <th>Номер</th>
          <th>Сумма</th>
          <th>Статус</th>
          <th>Параметры</th>
          <th>Экспорт</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @docunemts.each do |docunemt| %>
          <tr>
            <td><%= docunemt.date.strftime("%d.%m.%Y") %></td>
            <td><%= docunemt.number %></td>
            <td><%= docunemt.sum %></td>
            <td><%= send_or_not(docunemt.send_cheker) %></td>
            <td><%= link_to 'Показать', docunemt %></td>
            <td><%= link_to "Excel", stock_url(docunemt, format: "xlsx") %></td>
            <td><%= link_to image_tag("send.png"), send_stock_path(docunemt), method: :post %></td>
          </tr>
        <% end %> 
      </tbody>
  </table>
