
<% content_for :sidebar do %>

    <%= form_tag({:action => :upload_stock}, :multipart => true ) do %>
    <%= file_field_tag 'invoice' %>
    <%= submit_tag("Прочитать", class: "button tiny radius" ) %>
    <% end %>
<% end %>


    <table class="hover">
      <thead>
          <tr>
          <th>Номер</th>
          <th>Дата</th>
          <th>Сумма</th>
          <th>ИНН</th>
          <th>Парметры</th>
          <th>Действие</th>
        </tr>
        <tbody>
          <% @docunemts.each do |docunemt| %>
            <tr>
              <td>
                <%= docunemt.number %>
              </td>
              <td>
                <%= docunemt.date %>
              </td>
              <td>
                <%= docunemt.sum %>
              </td>
              <td>
              	<span data-tooltip aria-haspopup="true" class="has-tip tip-left" title="ddddd">
                	<%= docunemt.inn %>
                </span>
              </td>
              <td>
                <%=  link_to 'Показать', stocks_edit_path(docunemt), method: :get %>
              </td>
              <td>
                <%=  link_to 'Отправить', send_stock_path(docunemt), method: :post %>
              </td>
            </tr>
          <% end %> 
        </tbody>
      </thead>
    </table>
