
<div class="row">
	<%= form_tag(send_leftovers_path, method: "post") do %>	
		<div class="row">	
			<div class="large-3 columns select-date-wrapper">
				<%= label_tag(:start_date, "Дата остатков:") %>
				<%= text_field_tag(:start_date, nil, autocomplete: :off) %>
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns">
				<%= label_tag(:stock_id, "Склад:") %>
				<%= select_tag(:stock_id, options_for_select([['Москва', 1], ['Нижний Новгород', 2]])) %>
			</div>
		</div>
		  <%= submit_tag("Отправить", class: "button" ) %>
	<% end %>
</div>
