<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
  <div class="large-8 columns">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
  <div class="large-4 columns last">
  	<ul>
    	<% if user_signed_in? %>
      <li class="name"><span>Здравствуйте, <%= current_user.fullname %></span></li>
    <li class="name"><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
    <% else %>
    <li class="name"><%= link_to 'Войти', new_user_session_path %> </li>
    <!-- <li class="name"><%= link_to 'Зарегистрироваться', new_user_registration_path %> </li> -->
    <% end %>
    </ul>
  </div>

    
  </div>
</nav>
