<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Orders" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Orders" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <br>

    <section role="main" class="scroll-container">
      <div class="row">
        <div class="large-9 medium-8 columns">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
        <div class="large-3 medium-4 columns">
          <%= yield :sidebar %>
        </div>
      </div>
    </section>



  </body>
</html>
